html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #8695a4;
}


#my-nav {
    background-color: #3F4850;
}


table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(148 163 184);
}

#genderChart {
    margin-right: auto;
}
